In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats
from sklearn.model_selection import train_test_split


# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

#My imports
import wrangle as w
import env as e
import os

In [2]:
pd.options.display.float_format = '{:,.3f}'.format

Exercises
Using the repo setup directions, setup a new local and remote repository named clustering-exercises s. The local version of your repo should live inside of ~/codeup-data-science. This repo should be named clustering-exercises

Save your clustering work in your clustering-exercises repo. Then add, commit, and push your changes.

For example, if the exercise directs you to create a file named myfile.py, you should have clustering/myfile.py in your repository.

If a file extension is specified, you should create that specific file. If there is not file extension specified, you may either create a python script or a jupyter notebook for the exercise.

### Zillow
For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

### Acquire and Summarize

1. Acquire data from the cloud database. You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database. Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [23]:
# SQL query
query = '''SELECT *
FROM properties_2017
LEFT JOIN predictions_2017 USING (parcelid)
LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
LEFT JOIN buildingclasstype USING (buildingclasstypeid)
LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
LEFT JOIN airconditioningtype USING (airconditioningtypeid)
LEFT JOIN storytype USING (storytypeid)
LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
LEFT JOIN propertylandusetype USING (propertylandusetypeid)
LEFT JOIN unique_properties USING (parcelid)
WHERE transactiondate LIKE '2017%%'
AND latitude is not NULL
AND longitude is not NULL
AND (propertylandusetypeid = 261 OR propertylandusetypeid = 279);'''

In [24]:
def acquire_zillow():
    ''' Retrieve data from Zillow database within codeup, selecting specific features
    If data is not present in directory, this function writes a copy as a csv file. 
    '''
    filename = "zillow.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        query = '''SELECT *
        FROM properties_2017
        LEFT JOIN predictions_2017 USING (parcelid)
        LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)
        LEFT JOIN buildingclasstype USING (buildingclasstypeid)
        LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
        LEFT JOIN airconditioningtype USING (airconditioningtypeid)
        LEFT JOIN storytype USING (storytypeid)
        LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
        LEFT JOIN propertylandusetype USING (propertylandusetypeid)
        LEFT JOIN unique_properties USING (parcelid)
        WHERE transactiondate LIKE '2017%%'
        AND latitude is not NULL
        AND longitude is not NULL
        AND (propertylandusetypeid = 261 OR propertylandusetypeid = 279);'''
        df = pd.read_sql(query, w.get_connection('zillow'))

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename, index=False)

        # Return the dataframe to the calling code
        return df

In [3]:
df = w.acquire_zillow()

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [26]:
df.head()

,parcelid,propertylandusetypeid,typeconstructiontypeid,storytypeid,airconditioningtypeid,architecturalstyletypeid,buildingclasstypeid,heatingorsystemtypeid,id,basementsqft,...,id.1,logerror,transactiondate,heatingorsystemdesc,buildingclassdesc,architecturalstyledesc,airconditioningdesc,storydesc,typeconstructiondesc,propertylandusedesc
0,14297519,261.000,NaN,NaN,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.026,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
1,17052889,261.000,NaN,NaN,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.056,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2,14186244,261.000,NaN,NaN,NaN,NaN,NaN,NaN,11677,NaN,...,2,0.005,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
3,12177905,261.000,NaN,NaN,NaN,NaN,NaN,2.000,2288172,NaN,...,3,-0.103,2017-01-01,Central,NaN,NaN,NaN,NaN,NaN,Single Family Residential
4,12095076,261.000,NaN,NaN,1.000,NaN,NaN,2.000,781532,NaN,...,6,-0.001,2017-01-01,Central,NaN,NaN,Central,NaN,NaN,Single Family Residential

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   propertylandusetypeid         52441 non-null  float64
 2   typeconstructiontypeid        76 non-null     float64
 3   storytypeid                   47 non-null     float64
 4   airconditioningtypeid         13638 non-null  float64
 5   architecturalstyletypeid      70 non-null     float64
 6   buildingclasstypeid           0 non-null      float64
 7   heatingorsystemtypeid         33935 non-null  float64
 8   id                            52441 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52441 non-null  float64
 11  bedroomcnt                    52441 non-null  float64
 12  buildingqualitytypeid         33740 non-null  float64
 13  calculatedbathnbr             52304 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52359 non-null  float64
 17  finishedsquarefeet12          52194 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52441 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52304 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52441 non-null  float64
 29  longitude                     52441 non-null  float64
 30  lotsizesquarefeet             52072 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52441 non-null  object
 37  propertyzoningdesc            33848 non-null  object
 38  rawcensustractandblock        52441 non-null  float64
 39  regionidcity                  51404 non-null  float64
 40  regionidcounty                52441 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52415 non-null  float64
 43  roomcnt                       52441 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33847 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52325 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52357 non-null  float64
 52  taxvaluedollarcnt             52440 non-null  float64
 53  assessmentyear                52441 non-null  float64
 54  landtaxvaluedollarcnt         52440 non-null  float64
 55  taxamount                     52437 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52318 non-null  float64
 59  id.1                          52441 non-null  int64
 60  logerror                      52441 non-null  float64
 61  transactiondate               52441 non-null  object
 62  heatingorsystemdesc           33935 non-null  object
 63  buildingclassdesc             0 non-null      float64
 64  architecturalstyledesc        70 non-null     object
 65  airconditioningdesc           13638 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
 68  propertylandusedesc           52441 non-null  object
dtypes: float64(56), int64(3), object(10)
memory usage: 27.6+ MB

In [28]:
print(f'rows: {df.shape[0]}')
print(f'co1umns: {df.shape[1]}')

rows: 52441
co1umns: 69

In [8]:
for column in df.columns:
    print(column)
    print(df[column].value_counts())
    print('\n-------------------------- \n')

parcelid
11991059    3
11957553    2
12478591    2
12035592    2
12443331    2
           ..
11494547    1
10976762    1
12650619    1
12650850    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64

--------------------------

propertylandusetypeid
261.00    52441
Name: propertylandusetypeid, dtype: int64

--------------------------

typeconstructiontypeid
6.00    75
4.00     1
Name: typeconstructiontypeid, dtype: int64

--------------------------

storytypeid
7.00    47
Name: storytypeid, dtype: int64

--------------------------

airconditioningtypeid
 1.00    11895
13.00     1568
 5.00      159
11.00       16
Name: airconditioningtypeid, dtype: int64

--------------------------

architecturalstyletypeid
 7.00    62
 3.00     3
 2.00     2
21.00     2
 8.00     1
Name: architecturalstyletypeid, dtype: int64

--------------------------

buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)

--------------------------

heatingorsystemtypeid
 2.00    20736
 7.00    12565
 6.00      517
20.00       85
13.00       16
 1.00        7
18.00        6
10.00        2
24.00        1
Name: heatingorsystemtypeid, dtype: int64

--------------------------

id
1968735    3
1094342    2
1535169    2
2079054    2
1797671    2
          ..
496079     1
1508722    1
366314     1
2930973    1
1187175    1
Name: id, Length: 52320, dtype: int64

--------------------------

basementsqft
  900.00    2
  640.00    2
  100.00    2
  515.00    2
  273.00    2
  912.00    2
  314.00    1
  819.00    1
1,809.00    1
  604.00    1
  126.00    1
  588.00    1
  786.00    1
  669.00    1
  800.00    1
  396.00    1
  112.00    1
  645.00    1
  384.00    1
1,969.00    1
  252.00    1
  600.00    1
1,218.00    1
  280.00    1
  300.00    1
  224.00    1
  512.00    1
  380.00    1
  204.00    1
  200.00    1
   90.00    1
3,112.00    1
  405.00    1
1,252.00    1
  254.00    1
3,560.00    1
  352.00    1
  168.00    1
  394.00    1
1,416.00    1
   38.00    1
Name: basementsqft, dtype: int64

--------------------------

bathroomcnt
 2.00    21893
 3.00    10673
 1.00     9568
 2.50     3934
 4.00     2227
 3.50      918
 1.50      841
 5.00      803
 4.50      687
 6.00      322
 5.50      224
 0.00      121
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: bathroomcnt, dtype: int64

--------------------------

bedroomcnt
 3.00    23359
 4.00    15240
 2.00     8340
 5.00     3973
 6.00      635
 1.00      612
 0.00      137
 7.00      106
 8.00       24
 9.00        8
12.00        3
10.00        2
14.00        1
11.00        1
Name: bedroomcnt, dtype: int64

--------------------------

buildingqualitytypeid
 6.00    10289
 8.00     8244
 4.00     8156
 7.00     3427
 5.00     1513
 9.00     1121
11.00      514
10.00      230
 3.00      152
12.00       81
 1.00        8
 2.00        5
Name: buildingqualitytypeid, dtype: int64

--------------------------

calculatedbathnbr
 2.00    21893
 3.00    10673
 1.00     9568
 2.50     3926
 4.00     2227
 3.50      918
 1.50      834
 5.00      803
 4.50      687
 6.00      322
 5.50      223
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: calculatedbathnbr, dtype: int64

--------------------------

decktypeid
66.00    389
Name: decktypeid, dtype: int64

--------------------------

finishedfloor1squarefeet
1,252.00    22
1,205.00    21
1,462.00    21
1,227.00    19
1,431.00    17
            ..
1,708.00     1
  922.00     1
2,062.00     1
4,300.00     1
2,652.00     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64

--------------------------

calculatedfinishedsquarefeet
1,120.00    128
1,200.00    119
1,080.00    102
1,040.00     86
  936.00     86
           ...
7,088.00      1
  604.00      1
5,422.00      1
  534.00      1
5,655.00      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64

--------------------------

finishedsquarefeet12
1,120.00    127
1,200.00    118
1,080.00    102
  936.00     86
1,040.00     85
           ...
9,843.00      1
7,088.00      1
  604.00      1
5,422.00      1
5,655.00      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64

--------------------------

finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)

--------------------------

finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)

--------------------------

finishedsquarefeet50
1,252.00    22
1,462.00    21
1,205.00    21
1,227.00    19
1,431.00    17
            ..
1,533.00     1
1,708.00     1
  922.00     1
2,062.00     1
2,652.00     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64

--------------------------

finishedsquarefeet6
  952.00    4
  520.00    3
  750.00    2
  765.00    2
  845.00    2
           ..
1,178.00    1
  670.00    1
  748.00    1
1,200.00    1
  905.00    1
Name: finishedsquarefeet6, Length: 155, dtype: int64

--------------------------

fips
6,037.00    33910
6,059.00    14136
6,111.00     4395
Name: fips, dtype: int64

--------------------------

fireplacecnt
1.00    6031
2.00     945
3.00     229
4.00      35
5.00       3
Name: fireplacecnt, dtype: int64

--------------------------

fullbathcnt
 2.00    25831
 3.00    11600
 1.00    10402
 4.00     2915
 5.00     1022
 6.00      359
 7.00       96
 8.00       56
 9.00       13
10.00        5
11.00        3
18.00        1
13.00        1
Name: fullbathcnt, dtype: int64

--------------------------

garagecarcnt
 2.00    14802
 1.00     2202
 3.00      621
 4.00      254
 0.00       65
 5.00       45
 6.00       13
 7.00        3
10.00        3
 8.00        2
 9.00        2
11.00        1
13.00        1
14.00        1
Name: garagecarcnt, dtype: int64

--------------------------

garagetotalsqft
  400.00    788
  441.00    678
  462.00    660
  360.00    648
  460.00    571
           ...
  275.00      1
1,056.00      1
  261.00      1
1,155.00      1
  957.00      1
Name: garagetotalsqft, Length: 839, dtype: int64

--------------------------

hashottuborspa
1.00    1515
Name: hashottuborspa, dtype: int64

--------------------------

latitude
34,047,500.00    12
34,487,900.00     7
34,101,300.00     7
33,494,800.00     7
34,137,792.00     6
                 ..
34,023,323.00     1
34,034,633.00     1
33,840,741.00     1
33,511,474.00     1
33,937,685.00     1
Name: latitude, Length: 50478, dtype: int64

--------------------------

longitude
-118,249,000.00    12
-117,835,000.00     8
-117,670,000.00     7
-118,172,000.00     7
-117,830,000.00     7
                   ..
-118,107,541.00     1
-118,410,753.00     1
-118,116,393.00     1
-118,170,213.00     1
-117,996,709.00     1
Name: longitude, Length: 50764, dtype: int64

--------------------------

lotsizesquarefeet
  6,000.00    876
  5,000.00    414
  7,200.00    307
  7,000.00    287
  6,500.00    272
             ...
 11,061.00      1
 15,757.00      1
100,066.00      1
  3,701.00      1
 47,405.00      1
Name: lotsizesquarefeet, Length: 14292, dtype: int64

--------------------------

poolcnt
1.00    11096
Name: poolcnt, dtype: int64

--------------------------

poolsizesum
  450.00    89
  400.00    38
  500.00    30
  600.00    27
  512.00    25
            ..
  275.00     1
  434.00     1
1,070.00     1
  368.00     1
  780.00     1
Name: poolsizesum, Length: 262, dtype: int64

--------------------------

pooltypeid10
1.00    444
Name: pooltypeid10, dtype: int64

--------------------------

pooltypeid2
1.00    1071
Name: pooltypeid2, dtype: int64

--------------------------

pooltypeid7
1.00    10009
Name: pooltypeid7, dtype: int64

--------------------------

propertycountylandusecode
0100    26782
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64

--------------------------

propertyzoningdesc
LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64

--------------------------

rawcensustractandblock
60,379,203.39    36
60,379,201.16    32
60,371,417.00    24
60,590,320.57    24
60,590,320.42    23
                 ..
60,375,775.01     1
60,375,775.04     1
60,375,353.00     1
60,372,407.01     1
60,375,034.02     1
Name: rawcensustractandblock, Length: 31440, dtype: int64

--------------------------

regionidcity
12,447.00    11452
 5,534.00     1795
40,227.00     1492
46,298.00     1428
16,764.00     1087
             ...
32,927.00        3
31,134.00        2
36,078.00        1
10,815.00        1
21,395.00        1
Name: regionidcity, Length: 175, dtype: int64

--------------------------

regionidcounty
3,101.00    33910
1,286.00    14136
2,061.00     4395
Name: regionidcounty, dtype: int64

--------------------------

regionidneighborhood
 48,570.00    503
118,208.00    476
 27,080.00    448
274,049.00    391
 51,906.00    374
             ...
763,079.00      1
764,138.00      1
763,090.00      1
764,167.00      1
762,940.00      1
Name: regionidneighborhood, Length: 437, dtype: int64

--------------------------

regionidzip
97,319.00    776
97,318.00    674
97,329.00    564
97,328.00    519
97,118.00    498
            ...
96,467.00      1
97,092.00      1
96,148.00      1
96,038.00      1
97,088.00      1
Name: regionidzip, Length: 381, dtype: int64

--------------------------

roomcnt
 0.00    37853
 6.00     3982
 7.00     3615
 8.00     2813
 5.00     1890
 9.00     1176
 4.00      521
10.00      339
11.00      108
 3.00       79
12.00       35
 2.00       12
13.00       10
14.00        6
 1.00        1
15.00        1
Name: roomcnt, dtype: int64

--------------------------

threequarterbathnbr
1.00    6645
2.00      70
3.00       8
7.00       1
Name: threequarterbathnbr, dtype: int64

--------------------------

unitcnt
1.00    33817
2.00       29
3.00        1
Name: unitcnt, dtype: int64

--------------------------

yardbuildingsqft17
  200.00    85
  240.00    71
  300.00    49
  400.00    37
  288.00    34
            ..
  319.00     1
1,113.00     1
  415.00     1
  913.00     1
  201.00     1
Name: yardbuildingsqft17, Length: 504, dtype: int64

--------------------------

yardbuildingsqft26
120.00    3
 56.00    2
300.00    2
240.00    2
448.00    2
196.00    1
140.00    1
 48.00    1
284.00    1
 39.00    1
133.00    1
486.00    1
250.00    1
 91.00    1
491.00    1
 16.00    1
204.00    1
 71.00    1
 28.00    1
195.00    1
292.00    1
231.00    1
 30.00    1
320.00    1
384.00    1
180.00    1
 49.00    1
868.00    1
462.00    1
461.00    1
368.00    1
105.00    1
 37.00    1
 88.00    1
160.00    1
 45.00    1
752.00    1
169.00    1
 21.00    1
200.00    1
113.00    1
 41.00    1
314.00    1
 12.00    1
414.00    1
 66.00    1
648.00    1
174.00    1
218.00    1
 60.00    1
336.00    1
108.00    1
144.00    1
216.00    1
360.00    1
 72.00    1
576.00    1
Name: yardbuildingsqft26, dtype: int64

--------------------------

yearbuilt
1,955.00    1899
1,950.00    1608
1,954.00    1520
1,953.00    1485
1,956.00    1387
            ...
1,892.00       1
1,878.00       1
1,882.00       1
1,894.00       1
1,880.00       1
Name: yearbuilt, Length: 133, dtype: int64

--------------------------

numberofstories
1.00    8890
2.00    5318
3.00     352
6.00       1
Name: numberofstories, dtype: int64

--------------------------

fireplaceflag
1.00    81
Name: fireplaceflag, dtype: int64

--------------------------

structuretaxvaluedollarcnt
100,000.00    50
200,000.00    36
 90,000.00    32
 32,489.00    28
 95,000.00    27
              ..
384,779.00     1
 99,143.00     1
 69,732.00     1
 81,625.00     1
 32,797.00     1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64

--------------------------

taxvaluedollarcnt
455,000.00    34
600,000.00    30
500,000.00    24
450,000.00    24
550,000.00    24
              ..
209,341.00     1
203,304.00     1
497,409.00     1
421,945.00     1
 49,546.00     1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64

--------------------------

assessmentyear
2,016.00    52441
Name: assessmentyear, dtype: int64

--------------------------

landtaxvaluedollarcnt
 21,299.00    95
 30,210.00    63
 22,755.00    63
 16,522.00    54
 16,749.00    51
              ..
189,725.00     1
304,486.00     1
325,476.00     1
280,040.00     1
283,704.00     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64

--------------------------

taxamount
  345.72    4
5,871.38    3
2,172.75    3
3,347.58    3
  855.16    3
           ..
3,114.95    1
4,050.56    1
4,996.36    1
  683.35    1
6,317.15    1
Name: taxamount, Length: 50834, dtype: int64

--------------------------

taxdelinquencyflag
Y    2079
Name: taxdelinquencyflag, dtype: int64

--------------------------

taxdelinquencyyear
15.00    1131
14.00     560
13.00     129
12.00      81
11.00      79
10.00      47
 9.00      33
 8.00       8
 7.00       8
 6.00       1
99.00       1
 4.00       1
Name: taxdelinquencyyear, dtype: int64

--------------------------

censustractandblock
60,379,201,162,006.00    32
60,379,203,391,054.00    27
60,590,320,571,003.00    24
60,371,417,002,000.00    24
60,590,320,421,002.00    23
                         ..
60,372,714,001,001.00     1
60,371,954,004,007.00     1
60,379,108,051,066.00     1
60,590,758,081,024.00     1
60,375,034,021,020.00     1
Name: censustractandblock, Length: 31404, dtype: int64

--------------------------

id.1
0        1
51668    1
51650    1
51651    1
51653    1
        ..
26075    1
26076    1
26077    1
26079    1
77612    1
Name: id.1, Length: 52441, dtype: int64

--------------------------

logerror
 0.00    5
 0.00    5
 0.00    5
 0.00    5
 0.02    4
        ..
 0.02    1
 0.02    1
-0.03    1
 0.03    1
 0.04    1
Name: logerror, Length: 52180, dtype: int64

--------------------------

transactiondate
2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64

--------------------------

heatingorsystemdesc
Central       20736
Floor/Wall    12565
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64

--------------------------

buildingclassdesc
Series([], Name: buildingclassdesc, dtype: int64)

--------------------------

architecturalstyledesc
Contemporary     62
Cape Cod          3
Bungalow          2
Ranch/Rambler     2
Conventional      1
Name: architecturalstyledesc, dtype: int64

--------------------------

airconditioningdesc
Central      11895
Yes           1568
None           159
Wall Unit       16
Name: airconditioningdesc, dtype: int64

--------------------------

storydesc
Basement    47
Name: storydesc, dtype: int64

--------------------------

typeconstructiondesc
Frame       75
Concrete     1
Name: typeconstructiondesc, dtype: int64

--------------------------

propertylandusedesc
Single Family Residential    52441
Name: propertylandusedesc, dtype: int64

--------------------------

In [9]:
for column in df.columns:
    print(f'{column}\n{df[column].value_counts()} \n\n ------------------------- \n')

parcelid
11991059    3
11957553    2
12478591    2
12035592    2
12443331    2
           ..
11494547    1
10976762    1
12650619    1
12650850    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64

 -------------------------

propertylandusetypeid
261.00    52441
Name: propertylandusetypeid, dtype: int64

 -------------------------

typeconstructiontypeid
6.00    75
4.00     1
Name: typeconstructiontypeid, dtype: int64

 -------------------------

storytypeid
7.00    47
Name: storytypeid, dtype: int64

 -------------------------

airconditioningtypeid
 1.00    11895
13.00     1568
 5.00      159
11.00       16
Name: airconditioningtypeid, dtype: int64

 -------------------------

architecturalstyletypeid
 7.00    62
 3.00     3
 2.00     2
21.00     2
 8.00     1
Name: architecturalstyletypeid, dtype: int64

 -------------------------

buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)

 -------------------------

heatingorsystemtypeid
 2.00    20736
 7.00    12565
 6.00      517
20.00       85
13.00       16
 1.00        7
18.00        6
10.00        2
24.00        1
Name: heatingorsystemtypeid, dtype: int64

 -------------------------

id
1968735    3
1094342    2
1535169    2
2079054    2
1797671    2
          ..
496079     1
1508722    1
366314     1
2930973    1
1187175    1
Name: id, Length: 52320, dtype: int64

 -------------------------

basementsqft
  900.00    2
  640.00    2
  100.00    2
  515.00    2
  273.00    2
  912.00    2
  314.00    1
  819.00    1
1,809.00    1
  604.00    1
  126.00    1
  588.00    1
  786.00    1
  669.00    1
  800.00    1
  396.00    1
  112.00    1
  645.00    1
  384.00    1
1,969.00    1
  252.00    1
  600.00    1
1,218.00    1
  280.00    1
  300.00    1
  224.00    1
  512.00    1
  380.00    1
  204.00    1
  200.00    1
   90.00    1
3,112.00    1
  405.00    1
1,252.00    1
  254.00    1
3,560.00    1
  352.00    1
  168.00    1
  394.00    1
1,416.00    1
   38.00    1
Name: basementsqft, dtype: int64

 -------------------------

bathroomcnt
 2.00    21893
 3.00    10673
 1.00     9568
 2.50     3934
 4.00     2227
 3.50      918
 1.50      841
 5.00      803
 4.50      687
 6.00      322
 5.50      224
 0.00      121
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: bathroomcnt, dtype: int64

 -------------------------

bedroomcnt
 3.00    23359
 4.00    15240
 2.00     8340
 5.00     3973
 6.00      635
 1.00      612
 0.00      137
 7.00      106
 8.00       24
 9.00        8
12.00        3
10.00        2
14.00        1
11.00        1
Name: bedroomcnt, dtype: int64

 -------------------------

buildingqualitytypeid
 6.00    10289
 8.00     8244
 4.00     8156
 7.00     3427
 5.00     1513
 9.00     1121
11.00      514
10.00      230
 3.00      152
12.00       81
 1.00        8
 2.00        5
Name: buildingqualitytypeid, dtype: int64

 -------------------------

calculatedbathnbr
 2.00    21893
 3.00    10673
 1.00     9568
 2.50     3926
 4.00     2227
 3.50      918
 1.50      834
 5.00      803
 4.50      687
 6.00      322
 5.50      223
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: calculatedbathnbr, dtype: int64

 -------------------------

decktypeid
66.00    389
Name: decktypeid, dtype: int64

 -------------------------

finishedfloor1squarefeet
1,252.00    22
1,205.00    21
1,462.00    21
1,227.00    19
1,431.00    17
            ..
1,708.00     1
  922.00     1
2,062.00     1
4,300.00     1
2,652.00     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64

 -------------------------

calculatedfinishedsquarefeet
1,120.00    128
1,200.00    119
1,080.00    102
1,040.00     86
  936.00     86
           ...
7,088.00      1
  604.00      1
5,422.00      1
  534.00      1
5,655.00      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64

 -------------------------

finishedsquarefeet12
1,120.00    127
1,200.00    118
1,080.00    102
  936.00     86
1,040.00     85
           ...
9,843.00      1
7,088.00      1
  604.00      1
5,422.00      1
5,655.00      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64

 -------------------------

finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)

 -------------------------

finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)

 -------------------------

finishedsquarefeet50
1,252.00    22
1,462.00    21
1,205.00    21
1,227.00    19
1,431.00    17
            ..
1,533.00     1
1,708.00     1
  922.00     1
2,062.00     1
2,652.00     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64

 -------------------------

finishedsquarefeet6
  952.00    4
  520.00    3
  750.00    2
  765.00    2
  845.00    2
           ..
1,178.00    1
  670.00    1
  748.00    1
1,200.00    1
  905.00    1
Name: finishedsquarefeet6, Length: 155, dtype: int64

 -------------------------

fips
6,037.00    33910
6,059.00    14136
6,111.00     4395
Name: fips, dtype: int64

 -------------------------

fireplacecnt
1.00    6031
2.00     945
3.00     229
4.00      35
5.00       3
Name: fireplacecnt, dtype: int64

 -------------------------

fullbathcnt
 2.00    25831
 3.00    11600
 1.00    10402
 4.00     2915
 5.00     1022
 6.00      359
 7.00       96
 8.00       56
 9.00       13
10.00        5
11.00        3
18.00        1
13.00        1
Name: fullbathcnt, dtype: int64

 -------------------------

garagecarcnt
 2.00    14802
 1.00     2202
 3.00      621
 4.00      254
 0.00       65
 5.00       45
 6.00       13
 7.00        3
10.00        3
 8.00        2
 9.00        2
11.00        1
13.00        1
14.00        1
Name: garagecarcnt, dtype: int64

 -------------------------

garagetotalsqft
  400.00    788
  441.00    678
  462.00    660
  360.00    648
  460.00    571
           ...
  275.00      1
1,056.00      1
  261.00      1
1,155.00      1
  957.00      1
Name: garagetotalsqft, Length: 839, dtype: int64

 -------------------------

hashottuborspa
1.00    1515
Name: hashottuborspa, dtype: int64

 -------------------------

latitude
34,047,500.00    12
34,487,900.00     7
34,101,300.00     7
33,494,800.00     7
34,137,792.00     6
                 ..
34,023,323.00     1
34,034,633.00     1
33,840,741.00     1
33,511,474.00     1
33,937,685.00     1
Name: latitude, Length: 50478, dtype: int64

 -------------------------

longitude
-118,249,000.00    12
-117,835,000.00     8
-117,670,000.00     7
-118,172,000.00     7
-117,830,000.00     7
                   ..
-118,107,541.00     1
-118,410,753.00     1
-118,116,393.00     1
-118,170,213.00     1
-117,996,709.00     1
Name: longitude, Length: 50764, dtype: int64

 -------------------------

lotsizesquarefeet
  6,000.00    876
  5,000.00    414
  7,200.00    307
  7,000.00    287
  6,500.00    272
             ...
 11,061.00      1
 15,757.00      1
100,066.00      1
  3,701.00      1
 47,405.00      1
Name: lotsizesquarefeet, Length: 14292, dtype: int64

 -------------------------

poolcnt
1.00    11096
Name: poolcnt, dtype: int64

 -------------------------

poolsizesum
  450.00    89
  400.00    38
  500.00    30
  600.00    27
  512.00    25
            ..
  275.00     1
  434.00     1
1,070.00     1
  368.00     1
  780.00     1
Name: poolsizesum, Length: 262, dtype: int64

 -------------------------

pooltypeid10
1.00    444
Name: pooltypeid10, dtype: int64

 -------------------------

pooltypeid2
1.00    1071
Name: pooltypeid2, dtype: int64

 -------------------------

pooltypeid7
1.00    10009
Name: pooltypeid7, dtype: int64

 -------------------------

propertycountylandusecode
0100    26782
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64

 -------------------------

propertyzoningdesc
LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64

 -------------------------

rawcensustractandblock
60,379,203.39    36
60,379,201.16    32
60,371,417.00    24
60,590,320.57    24
60,590,320.42    23
                 ..
60,375,775.01     1
60,375,775.04     1
60,375,353.00     1
60,372,407.01     1
60,375,034.02     1
Name: rawcensustractandblock, Length: 31440, dtype: int64

 -------------------------

regionidcity
12,447.00    11452
 5,534.00     1795
40,227.00     1492
46,298.00     1428
16,764.00     1087
             ...
32,927.00        3
31,134.00        2
36,078.00        1
10,815.00        1
21,395.00        1
Name: regionidcity, Length: 175, dtype: int64

 -------------------------

regionidcounty
3,101.00    33910
1,286.00    14136
2,061.00     4395
Name: regionidcounty, dtype: int64

 -------------------------

regionidneighborhood
 48,570.00    503
118,208.00    476
 27,080.00    448
274,049.00    391
 51,906.00    374
             ...
763,079.00      1
764,138.00      1
763,090.00      1
764,167.00      1
762,940.00      1
Name: regionidneighborhood, Length: 437, dtype: int64

 -------------------------

regionidzip
97,319.00    776
97,318.00    674
97,329.00    564
97,328.00    519
97,118.00    498
            ...
96,467.00      1
97,092.00      1
96,148.00      1
96,038.00      1
97,088.00      1
Name: regionidzip, Length: 381, dtype: int64

 -------------------------

roomcnt
 0.00    37853
 6.00     3982
 7.00     3615
 8.00     2813
 5.00     1890
 9.00     1176
 4.00      521
10.00      339
11.00      108
 3.00       79
12.00       35
 2.00       12
13.00       10
14.00        6
 1.00        1
15.00        1
Name: roomcnt, dtype: int64

 -------------------------

threequarterbathnbr
1.00    6645
2.00      70
3.00       8
7.00       1
Name: threequarterbathnbr, dtype: int64

 -------------------------

unitcnt
1.00    33817
2.00       29
3.00        1
Name: unitcnt, dtype: int64

 -------------------------

yardbuildingsqft17
  200.00    85
  240.00    71
  300.00    49
  400.00    37
  288.00    34
            ..
  319.00     1
1,113.00     1
  415.00     1
  913.00     1
  201.00     1
Name: yardbuildingsqft17, Length: 504, dtype: int64

 -------------------------

yardbuildingsqft26
120.00    3
 56.00    2
300.00    2
240.00    2
448.00    2
196.00    1
140.00    1
 48.00    1
284.00    1
 39.00    1
133.00    1
486.00    1
250.00    1
 91.00    1
491.00    1
 16.00    1
204.00    1
 71.00    1
 28.00    1
195.00    1
292.00    1
231.00    1
 30.00    1
320.00    1
384.00    1
180.00    1
 49.00    1
868.00    1
462.00    1
461.00    1
368.00    1
105.00    1
 37.00    1
 88.00    1
160.00    1
 45.00    1
752.00    1
169.00    1
 21.00    1
200.00    1
113.00    1
 41.00    1
314.00    1
 12.00    1
414.00    1
 66.00    1
648.00    1
174.00    1
218.00    1
 60.00    1
336.00    1
108.00    1
144.00    1
216.00    1
360.00    1
 72.00    1
576.00    1
Name: yardbuildingsqft26, dtype: int64

 -------------------------

yearbuilt
1,955.00    1899
1,950.00    1608
1,954.00    1520
1,953.00    1485
1,956.00    1387
            ...
1,892.00       1
1,878.00       1
1,882.00       1
1,894.00       1
1,880.00       1
Name: yearbuilt, Length: 133, dtype: int64

 -------------------------

numberofstories
1.00    8890
2.00    5318
3.00     352
6.00       1
Name: numberofstories, dtype: int64

 -------------------------

fireplaceflag
1.00    81
Name: fireplaceflag, dtype: int64

 -------------------------

structuretaxvaluedollarcnt
100,000.00    50
200,000.00    36
 90,000.00    32
 32,489.00    28
 95,000.00    27
              ..
384,779.00     1
 99,143.00     1
 69,732.00     1
 81,625.00     1
 32,797.00     1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64

 -------------------------

taxvaluedollarcnt
455,000.00    34
600,000.00    30
500,000.00    24
450,000.00    24
550,000.00    24
              ..
209,341.00     1
203,304.00     1
497,409.00     1
421,945.00     1
 49,546.00     1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64

 -------------------------

assessmentyear
2,016.00    52441
Name: assessmentyear, dtype: int64

 -------------------------

landtaxvaluedollarcnt
 21,299.00    95
 30,210.00    63
 22,755.00    63
 16,522.00    54
 16,749.00    51
              ..
189,725.00     1
304,486.00     1
325,476.00     1
280,040.00     1
283,704.00     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64

 -------------------------

taxamount
  345.72    4
5,871.38    3
2,172.75    3
3,347.58    3
  855.16    3
           ..
3,114.95    1
4,050.56    1
4,996.36    1
  683.35    1
6,317.15    1
Name: taxamount, Length: 50834, dtype: int64

 -------------------------

taxdelinquencyflag
Y    2079
Name: taxdelinquencyflag, dtype: int64

 -------------------------

taxdelinquencyyear
15.00    1131
14.00     560
13.00     129
12.00      81
11.00      79
10.00      47
 9.00      33
 8.00       8
 7.00       8
 6.00       1
99.00       1
 4.00       1
Name: taxdelinquencyyear, dtype: int64

 -------------------------

censustractandblock
60,379,201,162,006.00    32
60,379,203,391,054.00    27
60,590,320,571,003.00    24
60,371,417,002,000.00    24
60,590,320,421,002.00    23
                         ..
60,372,714,001,001.00     1
60,371,954,004,007.00     1
60,379,108,051,066.00     1
60,590,758,081,024.00     1
60,375,034,021,020.00     1
Name: censustractandblock, Length: 31404, dtype: int64

 -------------------------

id.1
0        1
51668    1
51650    1
51651    1
51653    1
        ..
26075    1
26076    1
26077    1
26079    1
77612    1
Name: id.1, Length: 52441, dtype: int64

 -------------------------

logerror
 0.00    5
 0.00    5
 0.00    5
 0.00    5
 0.02    4
        ..
 0.02    1
 0.02    1
-0.03    1
 0.03    1
 0.04    1
Name: logerror, Length: 52180, dtype: int64

 -------------------------

transactiondate
2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2017-09-25      1
Name: transactiondate, Length: 257, dtype: int64

 -------------------------

heatingorsystemdesc
Central       20736
Floor/Wall    12565
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64

 -------------------------

buildingclassdesc
Series([], Name: buildingclassdesc, dtype: int64)

 -------------------------

architecturalstyledesc
Contemporary     62
Cape Cod          3
Bungalow          2
Ranch/Rambler     2
Conventional      1
Name: architecturalstyledesc, dtype: int64

 -------------------------

airconditioningdesc
Central      11895
Yes           1568
None           159
Wall Unit       16
Name: airconditioningdesc, dtype: int64

 -------------------------

storydesc
Basement    47
Name: storydesc, dtype: int64

 -------------------------

typeconstructiondesc
Frame       75
Concrete     1
Name: typeconstructiondesc, dtype: int64

 -------------------------

propertylandusedesc
Single Family Residential    52441
Name: propertylandusedesc, dtype: int64

 -------------------------

In [10]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # .value_counts()
    # observation of nulls in the dataframe
    '''
    print('SUMMARY REPORT')
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts(), '\n')
        else:
            print(df[col].value_counts(bins=10, sort=False), '\n')
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [11]:
w.summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
   parcelid  propertylandusetypeid  typeconstructiontypeid  storytypeid  \
0  14297519                 261.00                     NaN          NaN
1  17052889                 261.00                     NaN          NaN
2  14186244                 261.00                     NaN          NaN

   airconditioningtypeid  architecturalstyletypeid  buildingclasstypeid  \
0                    NaN                       NaN                  NaN
1                    NaN                       NaN                  NaN
2                    NaN                       NaN                  NaN

   heatingorsystemtypeid       id  basementsqft  ...  id.1  \
0                    NaN  1727539           NaN  ...     0
1                    NaN  1387261           NaN  ...     1
2                    NaN    11677           NaN  ...     2

              logerror  transactiondate  heatingorsystemdesc  \
0                 0.03       2017-01-01                  NaN
1                 0.06       2017-01-01                  NaN
2                 0.01       2017-01-01                  NaN

   buildingclassdesc  architecturalstyledesc  airconditioningdesc  storydesc  \
0                NaN                     NaN                  NaN        NaN
1                NaN                     NaN                  NaN        NaN
2                NaN                     NaN                  NaN        NaN

   typeconstructiondesc        propertylandusedesc
0                   NaN  Single Family Residential
1                   NaN  Single Family Residential
2                   NaN  Single Family Residential

[3 rows x 69 columns]
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   propertylandusetypeid         52441 non-null  float64
 2   typeconstructiontypeid        76 non-null     float64
 3   storytypeid                   47 non-null     float64
 4   airconditioningtypeid         13638 non-null  float64
 5   architecturalstyletypeid      70 non-null     float64
 6   buildingclasstypeid           0 non-null      float64
 7   heatingorsystemtypeid         33935 non-null  float64
 8   id                            52441 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52441 non-null  float64
 11  bedroomcnt                    52441 non-null  float64
 12  buildingqualitytypeid         33740 non-null  float64
 13  calculatedbathnbr             52304 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52359 non-null  float64
 17  finishedsquarefeet12          52194 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52441 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52304 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52441 non-null  float64
 29  longitude                     52441 non-null  float64
 30  lotsizesquarefeet             52072 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52441 non-null  object
 37  propertyzoningdesc            33848 non-null  object
 38  rawcensustractandblock        52441 non-null  float64
 39  regionidcity                  51404 non-null  float64
 40  regionidcounty                52441 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52415 non-null  float64
 43  roomcnt                       52441 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33847 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52325 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52357 non-null  float64
 52  taxvaluedollarcnt             52440 non-null  float64
 53  assessmentyear                52441 non-null  float64
 54  landtaxvaluedollarcnt         52440 non-null  float64
 55  taxamount                     52437 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52318 non-null  float64
 59  id.1                          52441 non-null  int64
 60  logerror                      52441 non-null  float64
 61  transactiondate               52441 non-null  object
 62  heatingorsystemdesc           33935 non-null  object
 63  buildingclassdesc             0 non-null      float64
 64  architecturalstyledesc        70 non-null     object
 65  airconditioningdesc           13638 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
 68  propertylandusedesc           52441 non-null  object
dtypes: float64(56), int64(3), object(10)
memory usage: 27.6+ MB
None
=====================================================


Dataframe Description:
                  parcelid  propertylandusetypeid  typeconstructiontypeid  \
count            52,441.00              52,441.00                   76.00
mean         12,999,115.87                 261.00                    5.97
std           3,411,444.02                   0.00                    0.23
min          10,711,855.00                 261.00                    4.00
25%          11,510,217.00                 261.00                    6.00
50%          12,577,645.00                 261.00                    6.00
75%          14,129,530.00                 261.00                    6.00
max         167,687,839.00                 261.00                    6.00

               storytypeid  airconditioningtypeid  architecturalstyletypeid  \
count                47.00              13,638.00                     70.00
mean                  7.00                   2.44                      7.10
std                   0.00                   3.85                      2.67
min                   7.00                   1.00                      2.00
25%                   7.00                   1.00                      7.00
50%                   7.00                   1.00                      7.00
75%                   7.00                   1.00                      7.00
max                   7.00                  13.00                     21.00

       buildingclasstypeid  heatingorsystemtypeid                   id  \
count                 0.00              33,935.00            52,441.00
mean                   NaN                   3.97         1,497,269.61
std                    NaN                   2.56           859,439.27
min                    NaN                   1.00               349.00
25%                    NaN                   2.00           757,955.00
50%                    NaN                   2.00         1,500,810.00
75%                    NaN                   7.00         2,241,534.00
max                    NaN                  24.00         2,982,270.00

              basementsqft  ...  structuretaxvaluedollarcnt  \
count                47.00  ...                   52,357.00
mean                678.98  ...                  196,533.75
std                 711.83  ...                  254,340.14
min                  38.00  ...                      129.00
25%                 263.50  ...                   77,071.00
50%                 512.00  ...                  131,811.00
75%                 809.50  ...                  226,334.00
max               3,560.00  ...                9,164,901.00

         taxvaluedollarcnt       assessmentyear  landtaxvaluedollarcnt  \
count            52,440.00            52,441.00              52,440.00
mean            529,688.16             2,016.00             333,465.48
std             751,894.55                 0.00             570,527.80
min               1,000.00             2,016.00                 161.00
25%             193,747.50             2,016.00              76,020.75
50%             373,612.00             2,016.00             218,032.00
75%             619,301.25             2,016.00             408,606.75
max          49,061,236.00             2,016.00          48,952,198.00

                 taxamount   taxdelinquencyyear    censustractandblock  \
count            52,437.00             2,079.00              52,318.00
mean              6,453.51                14.10  60,502,401,189,819.95
std               8,755.57                 2.39   1,859,036,273,451.59
min                  49.18                 4.00  60,371,011,101,000.00
25%               2,656.22                14.00  60,374,012,032,004.25
50%               4,647.74                15.00  60,376,203,011,013.50
75%               7,377.50                15.00  60,590,423,261,751.25
max             586,639.30                99.00 483,030,105,084,015.00

                      id.1             logerror    buildingclassdesc
count            52,441.00            52,441.00                 0.00
mean             38,859.89                 0.02                  NaN
std              22,348.01                 0.18                  NaN
min                   0.00                -4.66                  NaN
25%              19,546.00                -0.02                  NaN
50%              38,927.00                 0.01                  NaN
75%              58,092.00                 0.04                  NaN
max              77,612.00                 5.26                  NaN

[8 rows x 59 columns]
=====================================================
DataFrame value counts:
(10554879.015, 26409453.4]    52421
(26409453.4, 42107051.8]          0
(42107051.8, 57804650.2]          0
(57804650.2, 73502248.6]          0
(73502248.6, 89199847.0]          1
(89199847.0, 104897445.4]         0
(104897445.4, 120595043.8]        0
(120595043.8, 136292642.2]        0
(136292642.2, 151990240.6]        0
(151990240.6, 167687839.0]       19
Name: parcelid, dtype: int64

(260.738, 260.791]        0
(260.791, 260.843]        0
(260.843, 260.896]        0
(260.896, 260.948]        0
(260.948, 261.0]      52441
(261.0, 261.052]          0
(261.052, 261.104]        0
(261.104, 261.157]        0
(261.157, 261.209]        0
(261.209, 261.261]        0
Name: propertylandusetypeid, dtype: int64

(3.9970000000000003, 4.2]     1
(4.2, 4.4]                    0
(4.4, 4.6]                    0
(4.6, 4.8]                    0
(4.8, 5.0]                    0
(5.0, 5.2]                    0
(5.2, 5.4]                    0
(5.4, 5.6]                    0
(5.6, 5.8]                    0
(5.8, 6.0]                   75
Name: typeconstructiontypeid, dtype: int64

(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      47
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64

(0.987, 2.2]    11895
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        159
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]          0
(9.4, 10.6]         0
(10.6, 11.8]       16
(11.8, 13.0]     1568
Name: airconditioningtypeid, dtype: int64

(1.9800000000000002, 3.9]     5
(3.9, 5.8]                    0
(5.8, 7.7]                   62
(7.7, 9.6]                    1
(9.6, 11.5]                   0
(11.5, 13.4]                  0
(13.4, 15.3]                  0
(15.3, 17.2]                  0
(17.2, 19.1]                  0
(19.1, 21.0]                  2
Name: architecturalstyletypeid, dtype: int64

ValueError: Bin edges must be unique: array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]).
You can drop duplicate edges by setting the 'duplicates' kwarg

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

### Nulls by Column

In [ ]:
df.isnull().sum()

In [12]:
(df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)

finishedsquarefeet15                 100.00
buildingclasstypeid                  100.00
buildingclassdesc                    100.00
finishedsquarefeet13                 100.00
storydesc                             99.91
                               ...
fips                                   0.00
bedroomcnt                             0.00
bathroomcnt                            0.00
id                                     0.00
propertylandusedesc                    0.00
Length: 69, dtype: float64

In [13]:
null_col_df = pd.DataFrame({'num_rows_missing': df.isnull().sum(),
            'percent_rows_missing': df.isnull().sum()/df.shape[0]*100})

In [14]:
null_col_df

                        num_rows_missing  percent_rows_missing
parcelid                               0                  0.00
propertylandusetypeid                  0                  0.00
typeconstructiontypeid             52365                 99.86
storytypeid                        52394                 99.91
airconditioningtypeid              38803                 73.99
...                                  ...                   ...
architecturalstyledesc             52371                 99.87
airconditioningdesc                38803                 73.99
storydesc                          52394                 99.91
typeconstructiondesc               52365                 99.86
propertylandusedesc                    0                  0.00

[69 rows x 2 columns]

In [15]:
null_col_df.loc['logerror']

num_rows_missing                       0.00
percent_rows_missing                   0.00
Name: logerror, dtype: float64

In [16]:
null_col_df.iloc[5]

num_rows_missing                  52,371.00
percent_rows_missing                  99.87
Name: architecturalstyletypeid, dtype: float64

In [17]:
null_col_df.loc[['logerror']]

          num_rows_missing  percent_rows_missing
logerror                 0                  0.00

## Nulls by Row

In [18]:
df.isnull().sum(axis=1)

0        36
1        33
2        34
3        32
4        29
         ..
52436    34
52437    33
52438    32
52439    32
52440    34
Length: 52441, dtype: int64

In [19]:
df.isnull().sum(axis=1)/ df.shape[1] *100

0                      52.17
1                      47.83
2                      49.28
3                      46.38
4                      42.03
                ...
52436                  49.28
52437                  47.83
52438                  46.38
52439                  46.38
52440                  49.28
Length: 52441, dtype: float64

In [20]:
null_row_df = pd.DataFrame({'num_cols_missing': df.isnull().sum(axis=1),
             'percent_cols_missing': df.isnull().sum(axis=1)/df.shape[1] *100})

In [21]:
##This function doesnt work quite right, yet
def nulls_by_rows(df):
    num_missing = df.isnull().sum(axis=1)
    percent_miss = num_missing / df.shape[1]*100
    rows = df.shape[0]
    percent_missing = num_missing/ rows *100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing' : percent_missing})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

In [22]:
w.nulls_by_rows(df)

       num_rows_missing  percent_rows_missing
9001                 48                  0.09
28116                48                  0.09
41468                47                  0.09
13429                46                  0.09
22087                45                  0.09
...                 ...                   ...
12733                24                  0.05
37563                24                  0.05
39642                24                  0.05
22117                23                  0.04
39511                23                  0.04

[52441 rows x 2 columns]

In [23]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    percent_missing = num_missing/ rows *100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing' : percent_missing})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

In [12]:
w.nulls_by_col(df)

                      num_rows_missing  percent_rows_missing
finishedsquarefeet15             52441                100.00
buildingclasstypeid              52441                100.00
buildingclassdesc                52441                100.00
finishedsquarefeet13             52441                100.00
storydesc                        52394                 99.91
...                                ...                   ...
fips                                 0                  0.00
bedroomcnt                           0                  0.00
bathroomcnt                          0                  0.00
id                                   0                  0.00
propertylandusedesc                  0                  0.00

[69 rows x 2 columns]

In [4]:
def null_counter(df):
    new_columns = ['name','num_rows_missing', 'pct_rows_missing']
    
    new_df = pd.DataFrame(columns = new_colums)
    
    for col in list(df.columns):
        num_missing = df[col].isna().sum()
        pct_missing = num_missing / df.shape[0] #number of rows
        
        add_df = pd.DataFrame([{'name': col, 'num_rows_missing': num_missing, 'pct_rows_missing': pct_missing}])
        
        new_df = pd.concat([new_df, add_df], axis = 0)
    
    new_df.set_index('name', inplace=True)

In [5]:
null_counter(df)

NameError: name 'new_colums' is not defined

In [25]:
##def summarize(df):
    ##'''Summarize takes a single argument and outputs various statistics on said dataframe'''

### Prepare

### 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [13]:
df.propertylandusedesc.unique()

array(['Single Family Residential'], dtype=object)

#### This was done on acquire from the mySQL database

In [36]:
df[df['bathroomcnt'] == 0 ]

,parcelid,propertylandusetypeid,typeconstructiontypeid,storytypeid,airconditioningtypeid,architecturalstyletypeid,buildingclasstypeid,heatingorsystemtypeid,id,basementsqft,...,id.1,logerror,transactiondate,heatingorsystemdesc,buildingclassdesc,architecturalstyledesc,airconditioningdesc,storydesc,typeconstructiondesc,propertylandusedesc
124,14190895,261.000,NaN,NaN,NaN,NaN,NaN,NaN,2546776,NaN,...,176,-0.001,2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2612,11696784,261.000,NaN,NaN,NaN,NaN,NaN,7.000,496818,NaN,...,3907,0.031,2017-01-19,Floor/Wall,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2613,11696784,261.000,NaN,NaN,NaN,NaN,NaN,7.000,496818,NaN,...,3908,-0.125,2017-06-16,Floor/Wall,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2694,12227894,261.000,NaN,NaN,NaN,NaN,NaN,NaN,1602501,NaN,...,4035,-0.025,2017-01-19,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2899,12146026,261.000,NaN,NaN,NaN,NaN,NaN,NaN,856504,NaN,...,4333,-0.661,2017-01-20,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49855,13919043,261.000,NaN,NaN,NaN,NaN,NaN,NaN,2873456,NaN,...,73763,0.021,2017-09-05,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
50078,17292931,261.000,NaN,NaN,NaN,NaN,NaN,NaN,2117639,NaN,...,74111,0.080,2017-09-06,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
51299,12197543,261.000,NaN,NaN,NaN,NaN,NaN,7.000,617959,NaN,...,75878,0.239,2017-09-12,Floor/Wall,NaN,NaN,NaN,NaN,NaN,Single Family Residential
52163,12399434,261.000,NaN,NaN,NaN,NaN,NaN,2.000,1759759,NaN,...,77175,0.510,2017-09-18,Central,NaN,NaN,NaN,NaN,NaN,Single Family Residential
52429,11953526,261.000,NaN,NaN,NaN,NaN,NaN,NaN,2913200,NaN,...,77597,-0.159,2017-09-19,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential

### 2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

#### The input:
- A dataframe
- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).


#### The output:
- The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
hint:
Look up the dropna documentation.
You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [14]:
def remove_columns(df, cols_to_remove):
    df = df.drop(columns=cols_to_remove)
    return df

In [15]:
#proportion missing values that have to be in rows or column
def handle_missing_values(df, prop_required_columns=0.5, prop_required_rows=0.75):
    column_threshold = int(round(prop_required_columns * len(df.index), 0))
    df = df.dropna(axis=1, thresh=column_threshold)
    row_threshold = int(round(prop_required_rows * len(df.columns), 0))
    df = df.dropna(axis=0, thresh=row_threshold)
    return df

In [16]:
w.handle_missing_values(df)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id.1,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
0,14297519,261.00,NaN,1727539,3.50,4.00,NaN,3.50,"3,100.00","3,100.00",...,"1,023,282.00","2,016.00","537,569.00","11,013.72","60,590,630,072,012.00",0,0.03,2017-01-01,NaN,Single Family Residential
1,17052889,261.00,NaN,1387261,1.00,2.00,NaN,1.00,"1,465.00","1,465.00",...,"464,000.00","2,016.00","376,000.00","5,672.48","61,110,010,023,006.00",1,0.06,2017-01-01,NaN,Single Family Residential
2,14186244,261.00,NaN,11677,2.00,3.00,NaN,2.00,"1,243.00","1,243.00",...,"564,778.00","2,016.00","479,489.00","6,488.30","60,590,218,022,012.00",2,0.01,2017-01-01,NaN,Single Family Residential
3,12177905,261.00,2.00,2288172,3.00,4.00,8.00,3.00,"2,376.00","2,376.00",...,"145,143.00","2,016.00","36,225.00","1,777.51","60,373,001,001,006.00",3,-0.10,2017-01-01,Central,Single Family Residential
4,12095076,261.00,2.00,781532,3.00,4.00,9.00,3.00,"2,962.00","2,962.00",...,"773,303.00","2,016.00","496,619.00","9,516.26","60,374,608,001,014.00",6,-0.00,2017-01-01,Central,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,12412492,261.00,2.00,2274245,2.00,4.00,6.00,2.00,"1,633.00","1,633.00",...,"346,534.00","2,016.00","221,068.00","4,175.08","60,375,548,022,001.00",77607,0.00,2017-09-19,Central,Single Family Residential
52437,11000655,261.00,2.00,673515,2.00,2.00,6.00,2.00,"1,286.00","1,286.00",...,"354,621.00","2,016.00","283,704.00","4,478.43","60,371,014,003,002.00",77609,0.02,2017-09-20,Central,Single Family Residential
52438,17239384,261.00,NaN,2968375,2.00,4.00,NaN,2.00,"1,612.00","1,612.00",...,"67,205.00","2,016.00","16,522.00","1,107.48","61,110,084,022,016.00",77610,0.01,2017-09-21,NaN,Single Family Residential
52439,12773139,261.00,2.00,1843709,1.00,3.00,4.00,1.00,"1,032.00","1,032.00",...,"49,546.00","2,016.00","16,749.00",876.43,"60,374,338,022,005.00",77611,0.04,2017-09-21,Central,Single Family Residential
52440,12826780,261.00,2.00,1187175,2.00,3.00,6.00,2.00,"1,762.00","1,762.00",...,"522,000.00","2,016.00","382,000.00","6,317.15","60,375,034,021,020.00",77612,0.01,2017-09-25,Central,Single Family Residential

In [6]:
def null_dropper(df, prop_required_column, prop_required_row):
    
    prop_null_column = 1 - prop_required_column
    for col in list(df.columns):
        null_sum = df[col].isna().sum()
        null_pct = null_sum / df.shape[0]
        
        if null_pct > prop_null_column:
            df.drop(columns=col, inplace=True)
            
        row_threshold = int(prop_required_row * df.shape[1])
        
    return df

In [7]:
prop_required_row = 0.75
prop_required_row * df.shape[1]

51.75

In [8]:
df.shape

(52441, 69)

In [9]:
clean_df = null_dropper(df, prop_required_column=0.50, prop_required_row=0.75)

In [10]:
clean_df

,parcelid,propertylandusetypeid,heatingorsystemtypeid,id,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id.1,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
0,14297519,261.000,NaN,1727539,3.500,4.000,NaN,3.500,"3,100.000","3,100.000",...,"1,023,282.000","2,016.000","537,569.000","11,013.720","60,590,630,072,012.000",0,0.026,2017-01-01,NaN,Single Family Residential
1,17052889,261.000,NaN,1387261,1.000,2.000,NaN,1.000,"1,465.000","1,465.000",...,"464,000.000","2,016.000","376,000.000","5,672.480","61,110,010,023,006.000",1,0.056,2017-01-01,NaN,Single Family Residential
2,14186244,261.000,NaN,11677,2.000,3.000,NaN,2.000,"1,243.000","1,243.000",...,"564,778.000","2,016.000","479,489.000","6,488.300","60,590,218,022,012.000",2,0.005,2017-01-01,NaN,Single Family Residential
3,12177905,261.000,2.000,2288172,3.000,4.000,8.000,3.000,"2,376.000","2,376.000",...,"145,143.000","2,016.000","36,225.000","1,777.510","60,373,001,001,006.000",3,-0.103,2017-01-01,Central,Single Family Residential
4,12095076,261.000,2.000,781532,3.000,4.000,9.000,3.000,"2,962.000","2,962.000",...,"773,303.000","2,016.000","496,619.000","9,516.260","60,374,608,001,014.000",6,-0.001,2017-01-01,Central,Single Family Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52436,12412492,261.000,2.000,2274245,2.000,4.000,6.000,2.000,"1,633.000","1,633.000",...,"346,534.000","2,016.000","221,068.000","4,175.080","60,375,548,022,001.000",77607,0.001,2017-09-19,Central,Single Family Residential
52437,11000655,261.000,2.000,673515,2.000,2.000,6.000,2.000,"1,286.000","1,286.000",...,"354,621.000","2,016.000","283,704.000","4,478.430","60,371,014,003,002.000",77609,0.021,2017-09-20,Central,Single Family Residential
52438,17239384,261.000,NaN,2968375,2.000,4.000,NaN,2.000,"1,612.000","1,612.000",...,"67,205.000","2,016.000","16,522.000","1,107.480","61,110,084,022,016.000",77610,0.013,2017-09-21,NaN,Single Family Residential
52439,12773139,261.000,2.000,1843709,1.000,3.000,4.000,1.000,"1,032.000","1,032.000",...,"49,546.000","2,016.000","16,749.000",876.430,"60,374,338,022,005.000",77611,0.037,2017-09-21,Central,Single Family Residential
52440,12826780,261.000,2.000,1187175,2.000,3.000,6.000,2.000,"1,762.000","1,762.000",...,"522,000.000","2,016.000","382,000.000","6,317.150","60,375,034,021,020.000",77612,0.007,2017-09-25,Central,Single Family Residential

### 3. Encapsulate your work inside of functions in a wrangle_zillow.py module.

In [45]:
#IQR
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

In [41]:
def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=1.5)

,parcelid,propertylandusetypeid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,fireplaceflag_outliers,structuretaxvaluedollarcnt_outliers,taxvaluedollarcnt_outliers,assessmentyear_outliers,landtaxvaluedollarcnt_outliers,taxamount_outliers,taxdelinquencyyear_outliers,censustractandblock_outliers,id.1_outliers,logerror_outliers
0,14297519,261.00,1727539,NaN,NaN,NaN,3.50,4.00,NaN,NaN,...,NaN,"35,521.25",0.00,0.00,0.00,0.00,NaN,0.00,0,0.00
1,17052889,261.00,1387261,NaN,NaN,NaN,1.00,2.00,NaN,NaN,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,"194,969,917,259.00",0,0.00
2,14186244,261.00,11677,NaN,NaN,NaN,2.00,3.00,NaN,NaN,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0,0.00
3,12177905,261.00,2288172,NaN,NaN,NaN,3.00,4.00,NaN,8.00,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0,0.00
4,12095076,261.00,781532,1.00,NaN,NaN,3.00,4.00,NaN,9.00,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52437,11000655,261.00,673515,NaN,NaN,NaN,2.00,2.00,NaN,6.00,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0,0.00
52438,17239384,261.00,2968375,NaN,NaN,NaN,2.00,4.00,NaN,NaN,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,"195,043,916,269.00",0,0.00
52439,12773139,261.00,1843709,1.00,NaN,NaN,1.00,3.00,NaN,4.00,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0,0.00
52440,12826780,261.00,1187175,NaN,NaN,NaN,2.00,3.00,NaN,6.00,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0,0.00
52441,13083743,261.00,2455685,NaN,NaN,NaN,2.00,3.00,NaN,4.00,...,NaN,0.00,0.00,0.00,0.00,0.00,NaN,0.00,0,0.00

In [48]:
outlier_cols = [col for col in df.columns if col.endswith('_outliers_upper')]
for col in outlier_cols:
    print(col, ': ')
    subset = df[col][df[col] >0]
    print(f'Number of Observations Above Upper Bound: {subset.count()}', '\'n')
    print(subset.describe())
    print('------', '\n')

In [49]:
outlier_cols = [col for col in df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = df[col][df[col] > 0]
    print(data.describe())

~~~
parcelid_outliers
count                  20.00
mean          144,014,739.68
std            19,511,924.44
min            61,582,157.62
25%           144,902,427.12
50%           149,578,149.62
75%           149,578,800.88
max           149,629,506.62
Name: parcelid_outliers, dtype: float64
~~~
propertylandusetypeid_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: propertylandusetypeid_outliers, dtype: float64
~~~
id_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: id_outliers, dtype: float64
~~~
airconditioningtypeid_outliers
count               1,743.00
mean                   11.25
std                     2.31
min                     4.00
25%                    12.00
50%                    12.00
75%                    12.00
max                    12.00
Name: airconditioningtypeid_outliers, dtype: float64
~~~
architecturalstyletypeid_outliers
count                   3.00
mean                    9.67
std                     7.51
min                     1.00
25%                     7.50
50%                    14.00
75%                    14.00
max                    14.00
Name: architecturalstyletypeid_outliers, dtype: float64
~~~
basementsqft_outliers
count                   4.00
mean                  984.00
std                   857.70
min                   180.50
25%                   300.50
50%                   912.00
75%                 1,595.50
max                 1,931.50
Name: basementsqft_outliers, dtype: float64
~~~
bathroomcnt_outliers
count               1,579.00
mean                    1.14
std                     0.97
min                     0.50
25%                     0.50
50%                     0.50
75%                     1.50
max                    13.50
Name: bathroomcnt_outliers, dtype: float64
~~~
bedroomcnt_outliers
count                 780.00
mean                    0.78
std                     0.75
min                     0.50
25%                     0.50
50%                     0.50
75%                     0.50
max                     8.50
Name: bedroomcnt_outliers, dtype: float64
~~~
buildingclasstypeid_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: buildingclasstypeid_outliers, dtype: float64
~~~
buildingqualitytypeid_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: buildingqualitytypeid_outliers, dtype: float64
~~~
calculatedbathnbr_outliers
count               1,578.00
mean                    1.14
std                     0.97
min                     0.50
25%                     0.50
50%                     0.50
75%                     1.50
max                    13.50
Name: calculatedbathnbr_outliers, dtype: float64
~~~
decktypeid_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: decktypeid_outliers, dtype: float64
~~~
finishedfloor1squarefeet_outliers
count                 257.00
mean                  856.01
std                   841.86
min                     1.00
25%                   285.00
50%                   573.00
75%                 1,244.00
max                 4,241.00
Name: finishedfloor1squarefeet_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers
count               2,276.00
mean                1,184.62
std                 1,488.43
min                     1.00
25%                   262.75
50%                   695.00
75%                 1,532.25
max                18,066.00
Name: calculatedfinishedsquarefeet_outliers, dtype: float64
~~~
finishedsquarefeet12_outliers
count               2,265.00
mean                1,187.36
std                 1,490.09
min                     1.00
25%                   265.00
50%                   697.00
75%                 1,535.00
max                18,064.00
Name: finishedsquarefeet12_outliers, dtype: float64
~~~
finishedsquarefeet13_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: finishedsquarefeet13_outliers, dtype: float64
~~~
finishedsquarefeet15_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: finishedsquarefeet15_outliers, dtype: float64
~~~
finishedsquarefeet50_outliers
count                 269.00
mean                1,011.29
std                 1,155.54
min                     3.00
25%                   269.00
50%                   630.00
75%                 1,338.00
max                 9,770.00
Name: finishedsquarefeet50_outliers, dtype: float64
~~~
finishedsquarefeet6_outliers
count                  18.00
mean                  933.89
std                   887.57
min                    41.00
25%                   308.00
50%                   670.00
75%                 1,353.25
max                 3,474.00
Name: finishedsquarefeet6_outliers, dtype: float64
~~~
fips_outliers
count               4,395.00
mean                   19.00
std                     0.00
min                    19.00
25%                    19.00
50%                    19.00
75%                    19.00
max                    19.00
Name: fips_outliers, dtype: float64
~~~
fireplacecnt_outliers
count               1,212.00
mean                    1.25
std                     0.51
min                     1.00
25%                     1.00
50%                     1.00
75%                     1.00
max                     4.00
Name: fireplacecnt_outliers, dtype: float64
~~~
fullbathcnt_outliers
count               1,556.00
mean                    1.04
std                     0.97
min                     0.50
25%                     0.50
50%                     0.50
75%                     1.50
max                    13.50
Name: fullbathcnt_outliers, dtype: float64
~~~
garagecarcnt_outliers
count                 946.00
mean                    1.49
std                     0.99
min                     1.00
25%                     1.00
50%                     1.00
75%                     2.00
max                    12.00
Name: garagecarcnt_outliers, dtype: float64
~~~
garagetotalsqft_outliers
count                 571.00
mean                  221.26
std                   341.43
min                     0.50
25%                    55.00
50%                   121.50
75%                   258.00
max                 3,472.50
Name: garagetotalsqft_outliers, dtype: float64
~~~
hashottuborspa_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: hashottuborspa_outliers, dtype: float64
~~~
heatingorsystemtypeid_outliers
count                  92.00
mean                    5.41
std                     0.66
min                     3.50
25%                     5.50
50%                     5.50
75%                     5.50
max                     9.50
Name: heatingorsystemtypeid_outliers, dtype: float64
~~~
latitude_outliers
count                  35.00
mean               35,929.36
std                24,153.03
min                 1,732.50
25%                20,643.50
50%                28,806.50
75%                50,614.50
max                91,258.50
Name: latitude_outliers, dtype: float64
~~~
longitude_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: longitude_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers
count               5,553.00
mean               36,181.48
std               262,444.05
min                     1.50
25%                 3,243.50
50%                 7,445.50
75%                22,691.50
max             6,957,389.50
Name: lotsizesquarefeet_outliers, dtype: float64
~~~
poolcnt_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: poolcnt_outliers, dtype: float64
~~~
poolsizesum_outliers
count                  17.00
mean                  193.69
std                   168.10
min                    21.75
25%                    67.75
50%                   136.75
75%                   245.75
max                   636.75
Name: poolsizesum_outliers, dtype: float64
~~~
pooltypeid10_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: pooltypeid10_outliers, dtype: float64
~~~
pooltypeid2_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: pooltypeid2_outliers, dtype: float64
~~~
pooltypeid7_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: pooltypeid7_outliers, dtype: float64
~~~
rawcensustractandblock_outliers
count               4,395.00
mean              195,012.55
std                    25.20
min               194,961.88
25%               194,990.88
50%               195,017.90
75%               195,034.98
max               195,050.88
Name: rawcensustractandblock_outliers, dtype: float64
~~~
regionidcity_outliers
count               1,630.00
mean              171,340.48
std               138,589.71
min                31,515.00
25%                36,328.00
50%                37,097.00
75%               314,157.00
max               314,659.00
Name: regionidcity_outliers, dtype: float64
~~~
regionidcounty_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: regionidcounty_outliers, dtype: float64
~~~
regionidneighborhood_outliers
count                 579.00
mean              138,082.02
std                 1,285.44
min               132,763.50
25%               136,958.50
50%               138,362.50
75%               139,200.50
max               139,578.50
Name: regionidneighborhood_outliers, dtype: float64
~~~
regionidzip_outliers
count                  12.00
mean              301,496.50
std                     0.00
min               301,496.50
25%               301,496.50
50%               301,496.50
75%               301,496.50
max               301,496.50
Name: regionidzip_outliers, dtype: float64
~~~
roomcnt_outliers
count                  17.00
mean                    0.97
std                     0.62
min                     0.50
25%                     0.50
50%                     0.50
75%                     1.50
max                     2.50
Name: roomcnt_outliers, dtype: float64
~~~
storytypeid_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: storytypeid_outliers, dtype: float64
~~~
threequarterbathnbr_outliers
count                  79.00
mean                    1.16
std                     0.63
min                     1.00
25%                     1.00
50%                     1.00
75%                     1.00
max                     6.00
Name: threequarterbathnbr_outliers, dtype: float64
~~~
typeconstructiontypeid_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: typeconstructiontypeid_outliers, dtype: float64
~~~
unitcnt_outliers
count                  30.00
mean                    1.03
std                     0.18
min                     1.00
25%                     1.00
50%                     1.00
75%                     1.00
max                     2.00
Name: unitcnt_outliers, dtype: float64
~~~
yardbuildingsqft17_outliers
count                 120.00
mean                  346.38
std                   446.17
min                     6.00
25%                    97.50
50%                   206.50
75%                   392.25
max                 2,491.00
Name: yardbuildingsqft17_outliers, dtype: float64
~~~
yardbuildingsqft26_outliers
count                   2.00
mean                  124.75
std                    82.02
min                    66.75
25%                    95.75
50%                   124.75
75%                   153.75
max                   182.75
Name: yardbuildingsqft26_outliers, dtype: float64
~~~
yearbuilt_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: yearbuilt_outliers, dtype: float64
~~~
numberofstories_outliers
count                   1.00
mean                    2.50
std                      NaN
min                     2.50
25%                     2.50
50%                     2.50
75%                     2.50
max                     2.50
Name: numberofstories_outliers, dtype: float64
~~~
fireplaceflag_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: fireplaceflag_outliers, dtype: float64
~~~
structuretaxvaluedollarcnt_outliers
count               3,899.00
mean              369,184.38
std               577,536.49
min                    24.25
25%                72,309.75
50%               186,089.25
75%               443,569.25
max             8,714,709.25
Name: structuretaxvaluedollarcnt_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers
count               3,541.00
mean            1,102,677.40
std             1,938,023.59
min                    67.50
25%               212,717.50
50%               540,314.50
75%             1,252,372.50
max            47,803,608.50
Name: taxvaluedollarcnt_outliers, dtype: float64
~~~
assessmentyear_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: assessmentyear_outliers, dtype: float64
~~~
landtaxvaluedollarcnt_outliers
count               3,021.00
mean              861,124.16
std             1,669,779.74
min                   139.00
25%               154,767.00
50%               418,839.00
75%               946,236.00
max            48,044,737.00
Name: landtaxvaluedollarcnt_outliers, dtype: float64
~~~
taxamount_outliers
count               3,820.00
mean               12,257.27
std                22,146.09
min                     0.24
25%                 2,291.64
50%                 5,901.56
75%                13,749.78
max               572,180.06
Name: taxamount_outliers, dtype: float64
~~~
taxdelinquencyyear_outliers
count                   1.00
mean                   82.50
std                      NaN
min                    82.50
25%                    82.50
50%                    82.50
75%                    82.50
max                    82.50
Name: taxdelinquencyyear_outliers, dtype: float64
~~~
censustractandblock_outliers
count                 4,377.00
mean        291,407,446,677.37
std       6,377,374,090,403.26
min         194,960,895,490.00
25%         194,990,896,275.00
50%         195,017,916,282.00
75%         195,034,995,283.00
max     422,115,064,978,268.00
Name: censustractandblock_outliers, dtype: float64
~~~
id.1_outliers
count                   0.00
mean                     NaN
std                      NaN
min                      NaN
25%                      NaN
50%                      NaN
75%                      NaN
max                      NaN
Name: id.1_outliers, dtype: float64
~~~
logerror_outliers
count               3,796.00
mean                    0.23
std                     0.40
min                     0.00
25%                     0.04
50%                     0.10
75%                     0.24
max                     5.12
Name: logerror_outliers, dtype: float64

## Mall Customers

### 1. Acquire data from the customers table in the mall_customers database.

In [3]:
import wrangle_mall as wm

In [3]:
def acquire_mall_customers():
    ''' Retrieve data from mall_customers database within codeup, selecting specific features
    If data is not present in directory, this function writes a copy as a csv file. 
    '''
    filename = "mall_customers.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        query = '''SELECT *
        FROM customers;'''
        df = pd.read_sql(query, w.get_connection('mall_customers'))

        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename, index=False)

        # Return the dataframe to the calling code
        return df

In [4]:
mall_df = wm.acquire_mall_customers()

In [5]:
mall_df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

### 2. Summarize the data (include distributions and descriptive statistics).

In [6]:
wm.summarize(mall_df)

SUMMARY REPORT
=====================================================


Dataframe head:
   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
=====================================================


Dataframe Description:
       customer_id     age  annual_income  spending_score
count      200.000 200.000        200.000         200.000
mean       100.500  38.850         60.560          50.200
std         57.879  13.969         26.265          25.824
min          1.000  18.000         15.000           1.000
25%         50.750  28.750         41.500          34.750
50%        100.500  36.000         61.500          50.000
75%        150.250  49.000         78.000          73.000
max        200.000  70.000        137.000          99.000
=====================================================
DataFrame value counts:
(0.8, 20.9]       20
(20.9, 40.8]      20
(40.8, 60.7]      20
(60.7, 80.6]      20
(80.6, 100.5]     20
(100.5, 120.4]    20
(120.4, 140.3]    20
(140.3, 160.2]    20
(160.2, 180.1]    20
(180.1, 200.0]    20
Name: customer_id, dtype: int64

Female    112
Male       88
Name: gender, dtype: int64

(17.947, 23.2]    31
(23.2, 28.4]      19
(28.4, 33.6]      34
(33.6, 38.8]      29
(38.8, 44.0]      18
(44.0, 49.2]      24
(49.2, 54.4]      15
(54.4, 59.6]      10
(59.6, 64.8]       6
(64.8, 70.0]      14
Name: age, dtype: int64

(14.877, 27.2]    24
(27.2, 39.4]      22
(39.4, 51.6]      28
(51.6, 63.8]      38
(63.8, 76.0]      32
(76.0, 88.2]      34
(88.2, 100.4]      8
(100.4, 112.6]     6
(112.6, 124.8]     4
(124.8, 137.0]     4
Name: annual_income, dtype: int64

(0.901, 10.8]    16
(10.8, 20.6]     20
(20.6, 30.4]     10
(30.4, 40.2]     17
(40.2, 50.0]     40
(50.0, 59.8]     32
(59.8, 69.6]     11
(69.6, 79.4]     24
(79.4, 89.2]     14
(89.2, 99.0]     16
Name: spending_score, dtype: int64

=====================================================
nulls in dataframe by column:

NameError: name 'nulls_by_col' is not defined

### 3. Detect outliers using IQR.

In [7]:
def get_upper_outliers(s, k=1.5):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, 0.75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

In [8]:
get_upper_outliers(mall_df.age, k=1.5)

0      0
1      0
2      0
3      0
4      0
      ..
195    0
196    0
197    0
198    0
199    0
Name: age, Length: 200, dtype: int64

In [20]:
#def add_upper_outlier_columns(df, k=1.5):
    #'''
    #Add a column with the suffix _outliers for all the numeric columns
    #in the given dataframe.
    #'''
    #for col in df.select_dtypes('number'):
    #    df[col + '_outliers_upper'] = get_upper_outliers(df[col], k)
    #return df

In [21]:
#add_upper_outlier_columns(mall_df)

,customer_id,gender,age,annual_income,spending_score,customer_id_outliers_upper,age_outliers_upper,annual_income_outliers_upper,spending_score_outliers_upper
0,1,Male,19,15,39,0,0,0.000,0
1,2,Male,21,15,81,0,0,0.000,0
2,3,Female,20,16,6,0,0,0.000,0
3,4,Female,23,16,77,0,0,0.000,0
4,5,Female,31,17,40,0,0,0.000,0
...,...,...,...,...,...,...,...,...,...
195,196,Female,35,120,79,0,0,0.000,0
196,197,Female,45,126,28,0,0,0.000,0
197,198,Male,32,126,74,0,0,0.000,0
198,199,Male,32,137,18,0,0,4.250,0
199,200,Male,30,137,83,0,0,4.250,0

### 4. Split data into train, validate, and test.

In [7]:
mall_df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

In [8]:
mall_train, mall_test, mall_split = wm.train_validate_test_split(mall_df)

In [9]:
mall_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 95 to 43
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     139 non-null    int64
 1   gender          139 non-null    object
 2   age             139 non-null    int64
 3   annual_income   139 non-null    int64
 4   spending_score  139 non-null    int64
dtypes: int64(4), object(1)
memory usage: 6.5+ KB

### 5. Encode categorical columns using a one hot encoder (pd.get_dummies).

In [10]:
pd.get_dummies(mall_train)

,customer_id,age,annual_income,spending_score,gender_Female,gender_Male
95,96,24,60,52,0,1
90,91,68,59,55,1,0
2,3,20,16,6,1,0
32,33,53,33,4,0,1
186,187,54,101,24,1,0
...,...,...,...,...,...,...
100,101,23,62,41,1,0
136,137,44,73,7,1,0
16,17,35,21,35,1,0
131,132,39,71,75,0,1
43,44,31,39,61,1,0

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
#Initialize the scaler and fit/transform a couple columns in my training data
mms = MinMaxScaler()

mall_train[['age', 'annual_income']] = mms.fit_transform(mall_train[['age',
                                                                     'annual_income']])

mall_train.head()

     customer_id  gender   age  annual_income  spending_score
95            96    Male 0.115          0.369              52
90            91  Female 0.962          0.361              55
2              3  Female 0.038          0.008               6
32            33    Male 0.673          0.148               4
186          187  Female 0.692          0.705              24