In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

#My imports
import wrangle as w

In [4]:
df = w.get_zillow_data()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52442 entries, 0 to 52441
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52442 non-null  int64
 1   propertylandusetypeid         52442 non-null  float64
 2   id                            52442 non-null  int64
 3   airconditioningtypeid         13638 non-null  float64
 4   architecturalstyletypeid      70 non-null     float64
 5   basementsqft                  47 non-null     float64
 6   bathroomcnt                   52442 non-null  float64
 7   bedroomcnt                    52442 non-null  float64
 8   buildingclasstypeid           0 non-null      float64
 9   buildingqualitytypeid         33741 non-null  float64
 10  calculatedbathnbr             52305 non-null  float64
 11  decktypeid                    389 non-null    float64
 12  finishedfloor1squarefeet      4381 non-null   float64
 13  calculatedfinishedsquarefeet  52360 non-null  float64
 14  finishedsquarefeet12          52195 non-null  float64
 15  finishedsquarefeet13          0 non-null      float64
 16  finishedsquarefeet15          0 non-null      float64
 17  finishedsquarefeet50          4381 non-null   float64
 18  finishedsquarefeet6           165 non-null    float64
 19  fips                          52442 non-null  float64
 20  fireplacecnt                  7243 non-null   float64
 21  fullbathcnt                   52305 non-null  float64
 22  garagecarcnt                  18015 non-null  float64
 23  garagetotalsqft               18015 non-null  float64
 24  hashottuborspa                1515 non-null   float64
 25  heatingorsystemtypeid         33936 non-null  float64
 26  latitude                      52442 non-null  float64
 27  longitude                     52442 non-null  float64
 28  lotsizesquarefeet             52073 non-null  float64
 29  poolcnt                       11096 non-null  float64
 30  poolsizesum                   867 non-null    float64
 31  pooltypeid10                  444 non-null    float64
 32  pooltypeid2                   1071 non-null   float64
 33  pooltypeid7                   10009 non-null  float64
 34  propertycountylandusecode     52442 non-null  object
 35  propertyzoningdesc            33849 non-null  object
 36  rawcensustractandblock        52442 non-null  float64
 37  regionidcity                  51405 non-null  float64
 38  regionidcounty                52442 non-null  float64
 39  regionidneighborhood          19033 non-null  float64
 40  regionidzip                   52416 non-null  float64
 41  roomcnt                       52442 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6724 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33848 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52326 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52358 non-null  float64
 52  taxvaluedollarcnt             52441 non-null  float64
 53  assessmentyear                52442 non-null  float64
 54  landtaxvaluedollarcnt         52441 non-null  float64
 55  taxamount                     52438 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52319 non-null  float64
 59  propertylandusedesc           52442 non-null  object
 60  id.1                          52442 non-null  int64
 61  logerror                      52442 non-null  float64
 62  transactiondate               52442 non-null  object
dtypes: float64(55), int64(3), object(5)
memory usage: 25.2+ MB

In [6]:
df.describe()

,parcelid,propertylandusetypeid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id.1,logerror
count,"52,442.00","52,442.00","52,442.00","13,638.00",70.00,47.00,"52,442.00","52,442.00",0.00,"33,741.00",...,81.00,"52,358.00","52,441.00","52,442.00","52,441.00","52,438.00","2,079.00","52,319.00","52,442.00","52,442.00"
mean,"12,999,117.49",261.00,"1,497,287.88",2.44,7.10,678.98,2.30,3.30,NaN,6.26,...,1.00,"196,531.47","529,683.01","2,016.00","333,462.59","6,453.45",14.10,"60,502,398,737,177.73","38,860.63",0.02
std,"3,411,411.52",0.00,"859,441.26",3.85,2.67,711.83,1.02,0.95,NaN,1.72,...,0.00,"254,338.25","751,888.31",0.00,"570,522.74","8,755.50",2.39,"1,859,018,591,315.60","22,348.44",0.18
min,"10,711,855.00",261.00,349.00,1.00,2.00,38.00,0.00,0.00,NaN,1.00,...,1.00,129.00,"1,000.00","2,016.00",161.00,49.18,4.00,"60,371,011,101,000.00",0.00,-4.66
25%,"11,510,295.50",261.00,"757,956.00",1.00,7.00,263.50,2.00,3.00,NaN,5.00,...,1.00,"77,071.75","193,750.00","2,016.00","76,026.00","2,656.25",14.00,"60,374,012,032,004.50","19,546.25",-0.02
50%,"12,577,655.00",261.00,"1,500,836.00",1.00,7.00,512.00,2.00,3.00,NaN,6.00,...,1.00,"131,807.00","373,612.00","2,016.00","218,025.00","4,647.73",15.00,"60,376,203,011,012.00","38,927.50",0.01
75%,"14,129,510.25",261.00,"2,241,564.00",1.00,7.00,809.50,3.00,4.00,NaN,8.00,...,1.00,"226,319.75","619,301.00","2,016.00","408,600.00","7,377.44",15.00,"60,590,423,261,501.50","58,093.50",0.04
max,"167,687,839.00",261.00,"2,982,270.00",13.00,21.00,"3,560.00",18.00,14.00,NaN,12.00,...,1.00,"9,164,901.00","49,061,236.00","2,016.00","48,952,198.00","586,639.30",99.00,"483,030,105,084,015.00","77,613.00",5.26

In [9]:
for column in df.columns:
    print(column)
    print(df[column].value_counts())
    print('\n-------------------------- \n')

parcelid
13083743    3
11991059    3
12478591    2
12035592    2
12443331    2
           ..
11494547    1
10976762    1
12650619    1
12650850    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64

--------------------------

propertylandusetypeid
261.00    52442
Name: propertylandusetypeid, dtype: int64

--------------------------

id
2455685    3
1968735    3
1535169    2
2079054    2
1797671    2
          ..
496079     1
1508722    1
366314     1
2930973    1
1187175    1
Name: id, Length: 52320, dtype: int64

--------------------------

airconditioningtypeid
 1.00    11895
13.00     1568
 5.00      159
11.00       16
Name: airconditioningtypeid, dtype: int64

--------------------------

architecturalstyletypeid
 7.00    62
 3.00     3
 2.00     2
21.00     2
 8.00     1
Name: architecturalstyletypeid, dtype: int64

--------------------------

basementsqft
  900.00    2
  640.00    2
  100.00    2
  515.00    2
  273.00    2
  912.00    2
  314.00    1
  819.00    1
1,809.00    1
  604.00    1
  126.00    1
  588.00    1
  786.00    1
  669.00    1
  800.00    1
  396.00    1
  112.00    1
  645.00    1
  384.00    1
1,969.00    1
  252.00    1
  600.00    1
1,218.00    1
  280.00    1
  300.00    1
  224.00    1
  512.00    1
  380.00    1
  204.00    1
  200.00    1
   90.00    1
3,112.00    1
  405.00    1
1,252.00    1
  254.00    1
3,560.00    1
  352.00    1
  168.00    1
  394.00    1
1,416.00    1
   38.00    1
Name: basementsqft, dtype: int64

--------------------------

bathroomcnt
 2.00    21894
 3.00    10673
 1.00     9568
 2.50     3934
 4.00     2227
 3.50      918
 1.50      841
 5.00      803
 4.50      687
 6.00      322
 5.50      224
 0.00      121
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: bathroomcnt, dtype: int64

--------------------------

bedroomcnt
 3.00    23360
 4.00    15240
 2.00     8340
 5.00     3973
 6.00      635
 1.00      612
 0.00      137
 7.00      106
 8.00       24
 9.00        8
12.00        3
10.00        2
14.00        1
11.00        1
Name: bedroomcnt, dtype: int64

--------------------------

buildingclasstypeid
Series([], Name: buildingclasstypeid, dtype: int64)

--------------------------

buildingqualitytypeid
 6.00    10289
 8.00     8244
 4.00     8157
 7.00     3427
 5.00     1513
 9.00     1121
11.00      514
10.00      230
 3.00      152
12.00       81
 1.00        8
 2.00        5
Name: buildingqualitytypeid, dtype: int64

--------------------------

calculatedbathnbr
 2.00    21894
 3.00    10673
 1.00     9568
 2.50     3926
 4.00     2227
 3.50      918
 1.50      834
 5.00      803
 4.50      687
 6.00      322
 5.50      223
 7.00       88
 8.00       53
 6.50       47
 7.50       16
 9.00       13
10.00        5
11.00        3
 8.50        3
18.00        1
13.00        1
Name: calculatedbathnbr, dtype: int64

--------------------------

decktypeid
66.00    389
Name: decktypeid, dtype: int64

--------------------------

finishedfloor1squarefeet
1,252.00    22
1,205.00    21
1,462.00    21
1,227.00    19
1,431.00    17
            ..
1,708.00     1
  922.00     1
2,062.00     1
4,300.00     1
2,652.00     1
Name: finishedfloor1squarefeet, Length: 1553, dtype: int64

--------------------------

calculatedfinishedsquarefeet
1,120.00    128
1,200.00    119
1,080.00    102
1,040.00     86
  936.00     86
           ...
7,088.00      1
  604.00      1
5,422.00      1
  534.00      1
5,655.00      1
Name: calculatedfinishedsquarefeet, Length: 4723, dtype: int64

--------------------------

finishedsquarefeet12
1,120.00    127
1,200.00    118
1,080.00    102
  936.00     86
1,040.00     85
           ...
9,843.00      1
7,088.00      1
  604.00      1
5,422.00      1
5,655.00      1
Name: finishedsquarefeet12, Length: 4716, dtype: int64

--------------------------

finishedsquarefeet13
Series([], Name: finishedsquarefeet13, dtype: int64)

--------------------------

finishedsquarefeet15
Series([], Name: finishedsquarefeet15, dtype: int64)

--------------------------

finishedsquarefeet50
1,252.00    22
1,462.00    21
1,205.00    21
1,227.00    19
1,431.00    17
            ..
1,533.00     1
1,708.00     1
  922.00     1
2,062.00     1
2,652.00     1
Name: finishedsquarefeet50, Length: 1572, dtype: int64

--------------------------

finishedsquarefeet6
  952.00    4
  520.00    3
  750.00    2
  765.00    2
  845.00    2
           ..
1,178.00    1
  670.00    1
  748.00    1
1,200.00    1
  905.00    1
Name: finishedsquarefeet6, Length: 155, dtype: int64

--------------------------

fips
6,037.00    33911
6,059.00    14136
6,111.00     4395
Name: fips, dtype: int64

--------------------------

fireplacecnt
1.00    6031
2.00     945
3.00     229
4.00      35
5.00       3
Name: fireplacecnt, dtype: int64

--------------------------

fullbathcnt
 2.00    25832
 3.00    11600
 1.00    10402
 4.00     2915
 5.00     1022
 6.00      359
 7.00       96
 8.00       56
 9.00       13
10.00        5
11.00        3
18.00        1
13.00        1
Name: fullbathcnt, dtype: int64

--------------------------

garagecarcnt
 2.00    14802
 1.00     2202
 3.00      621
 4.00      254
 0.00       65
 5.00       45
 6.00       13
 7.00        3
10.00        3
 8.00        2
 9.00        2
11.00        1
13.00        1
14.00        1
Name: garagecarcnt, dtype: int64

--------------------------

garagetotalsqft
  400.00    788
  441.00    678
  462.00    660
  360.00    648
  460.00    571
           ...
  275.00      1
1,056.00      1
  261.00      1
1,155.00      1
  957.00      1
Name: garagetotalsqft, Length: 839, dtype: int64

--------------------------

hashottuborspa
1.00    1515
Name: hashottuborspa, dtype: int64

--------------------------

heatingorsystemtypeid
 2.00    20736
 7.00    12566
 6.00      517
20.00       85
13.00       16
 1.00        7
18.00        6
10.00        2
24.00        1
Name: heatingorsystemtypeid, dtype: int64

--------------------------

latitude
34,047,500.00    12
34,487,900.00     7
34,101,300.00     7
33,494,800.00     7
34,137,792.00     6
                 ..
34,023,323.00     1
34,034,633.00     1
33,840,741.00     1
33,511,474.00     1
33,937,685.00     1
Name: latitude, Length: 50478, dtype: int64

--------------------------

longitude
-118,249,000.00    12
-117,835,000.00     8
-117,830,000.00     7
-118,172,000.00     7
-117,670,000.00     7
                   ..
-118,107,541.00     1
-118,410,753.00     1
-118,116,393.00     1
-118,170,213.00     1
-117,996,709.00     1
Name: longitude, Length: 50764, dtype: int64

--------------------------

lotsizesquarefeet
  6,000.00    876
  5,000.00    414
  7,200.00    307
  7,000.00    287
  6,500.00    272
             ...
 11,061.00      1
 15,757.00      1
100,066.00      1
  3,701.00      1
 47,405.00      1
Name: lotsizesquarefeet, Length: 14292, dtype: int64

--------------------------

poolcnt
1.00    11096
Name: poolcnt, dtype: int64

--------------------------

poolsizesum
  450.00    89
  400.00    38
  500.00    30
  600.00    27
  512.00    25
            ..
  275.00     1
  434.00     1
1,070.00     1
  368.00     1
  780.00     1
Name: poolsizesum, Length: 262, dtype: int64

--------------------------

pooltypeid10
1.00    444
Name: pooltypeid10, dtype: int64

--------------------------

pooltypeid2
1.00    1071
Name: pooltypeid2, dtype: int64

--------------------------

pooltypeid7
1.00    10009
Name: pooltypeid7, dtype: int64

--------------------------

propertycountylandusecode
0100    26783
122     13067
0101     6413
1111     3362
1        1069
1110     1025
0104      369
010G       94
0103       91
0108       57
010M       53
0109       18
1112        8
0110        6
0113        6
0141        4
0102        3
0105        3
010V        2
0111        2
0130        2
0131        1
0133        1
0115        1
010L        1
0114        1
Name: propertycountylandusecode, dtype: int64

--------------------------

propertyzoningdesc
LAR1          6498
LARS          1385
LBR1N         1111
SCUR2          712
LARE11         612
              ...
LCR3800015       1
PSR6*            1
LARE             1
MYR3PY           1
BFA15000*        1
Name: propertyzoningdesc, Length: 1286, dtype: int64

--------------------------

rawcensustractandblock
60,379,203.39    36
60,379,201.16    32
60,371,417.00    24
60,590,320.57    24
60,590,320.42    23
                 ..
60,375,775.01     1
60,375,775.04     1
60,375,353.00     1
60,372,407.01     1
60,375,034.02     1
Name: rawcensustractandblock, Length: 31440, dtype: int64

--------------------------

regionidcity
12,447.00    11452
 5,534.00     1795
40,227.00     1492
46,298.00     1428
16,764.00     1087
             ...
32,927.00        3
31,134.00        2
36,078.00        1
10,815.00        1
21,395.00        1
Name: regionidcity, Length: 175, dtype: int64

--------------------------

regionidcounty
3,101.00    33911
1,286.00    14136
2,061.00     4395
Name: regionidcounty, dtype: int64

--------------------------

regionidneighborhood
 48,570.00    503
118,208.00    476
 27,080.00    448
274,049.00    391
 51,906.00    374
             ...
763,079.00      1
764,138.00      1
763,090.00      1
764,167.00      1
762,940.00      1
Name: regionidneighborhood, Length: 437, dtype: int64

--------------------------

regionidzip
97,319.00    776
97,318.00    674
97,329.00    564
97,328.00    519
97,118.00    498
            ...
96,467.00      1
97,092.00      1
96,148.00      1
96,038.00      1
97,088.00      1
Name: regionidzip, Length: 381, dtype: int64

--------------------------

roomcnt
 0.00    37854
 6.00     3982
 7.00     3615
 8.00     2813
 5.00     1890
 9.00     1176
 4.00      521
10.00      339
11.00      108
 3.00       79
12.00       35
 2.00       12
13.00       10
14.00        6
 1.00        1
15.00        1
Name: roomcnt, dtype: int64

--------------------------

storytypeid
7.00    47
Name: storytypeid, dtype: int64

--------------------------

threequarterbathnbr
1.00    6645
2.00      70
3.00       8
7.00       1
Name: threequarterbathnbr, dtype: int64

--------------------------

typeconstructiontypeid
6.00    75
4.00     1
Name: typeconstructiontypeid, dtype: int64

--------------------------

unitcnt
1.00    33818
2.00       29
3.00        1
Name: unitcnt, dtype: int64

--------------------------

yardbuildingsqft17
  200.00    85
  240.00    71
  300.00    49
  400.00    37
  288.00    34
            ..
  319.00     1
1,113.00     1
  415.00     1
  913.00     1
  201.00     1
Name: yardbuildingsqft17, Length: 504, dtype: int64

--------------------------

yardbuildingsqft26
120.00    3
 56.00    2
300.00    2
240.00    2
448.00    2
196.00    1
140.00    1
 48.00    1
284.00    1
 39.00    1
133.00    1
486.00    1
250.00    1
 91.00    1
491.00    1
 16.00    1
204.00    1
 71.00    1
 28.00    1
195.00    1
292.00    1
231.00    1
 30.00    1
320.00    1
384.00    1
180.00    1
 49.00    1
868.00    1
462.00    1
461.00    1
368.00    1
105.00    1
 37.00    1
 88.00    1
160.00    1
 45.00    1
752.00    1
169.00    1
 21.00    1
200.00    1
113.00    1
 41.00    1
314.00    1
 12.00    1
414.00    1
 66.00    1
648.00    1
174.00    1
218.00    1
 60.00    1
336.00    1
108.00    1
144.00    1
216.00    1
360.00    1
 72.00    1
576.00    1
Name: yardbuildingsqft26, dtype: int64

--------------------------

yearbuilt
1,955.00    1899
1,950.00    1608
1,954.00    1520
1,953.00    1485
1,956.00    1387
            ...
1,892.00       1
1,878.00       1
1,882.00       1
1,894.00       1
1,880.00       1
Name: yearbuilt, Length: 133, dtype: int64

--------------------------

numberofstories
1.00    8890
2.00    5318
3.00     352
6.00       1
Name: numberofstories, dtype: int64

--------------------------

fireplaceflag
1.00    81
Name: fireplaceflag, dtype: int64

--------------------------

structuretaxvaluedollarcnt
100,000.00    50
200,000.00    36
 90,000.00    32
 32,489.00    28
 95,000.00    27
              ..
384,779.00     1
 99,143.00     1
 69,732.00     1
 81,625.00     1
 32,797.00     1
Name: structuretaxvaluedollarcnt, Length: 37333, dtype: int64

--------------------------

taxvaluedollarcnt
455,000.00    34
600,000.00    30
550,000.00    24
500,000.00    24
450,000.00    24
              ..
209,341.00     1
203,304.00     1
497,409.00     1
421,945.00     1
 49,546.00     1
Name: taxvaluedollarcnt, Length: 38942, dtype: int64

--------------------------

assessmentyear
2,016.00    52442
Name: assessmentyear, dtype: int64

--------------------------

landtaxvaluedollarcnt
 21,299.00    95
 22,755.00    63
 30,210.00    63
 16,522.00    54
 16,749.00    51
              ..
189,725.00     1
304,486.00     1
325,476.00     1
280,040.00     1
283,704.00     1
Name: landtaxvaluedollarcnt, Length: 36912, dtype: int64

--------------------------

taxamount
  345.72    4
4,042.46    3
2,182.12    3
4,251.80    3
7,210.68    3
           ..
3,114.95    1
4,050.56    1
4,996.36    1
  683.35    1
6,317.15    1
Name: taxamount, Length: 50834, dtype: int64

--------------------------

taxdelinquencyflag
Y    2079
Name: taxdelinquencyflag, dtype: int64

--------------------------

taxdelinquencyyear
15.00    1131
14.00     560
13.00     129
12.00      81
11.00      79
10.00      47
 9.00      33
 8.00       8
 7.00       8
 6.00       1
99.00       1
 4.00       1
Name: taxdelinquencyyear, dtype: int64

--------------------------

censustractandblock
60,379,201,162,006.00    32
60,379,203,391,054.00    27
60,590,320,571,003.00    24
60,371,417,002,000.00    24
60,590,320,421,002.00    23
                         ..
60,372,714,001,001.00     1
60,371,954,004,007.00     1
60,379,108,051,066.00     1
60,590,758,081,024.00     1
60,375,034,021,020.00     1
Name: censustractandblock, Length: 31404, dtype: int64

--------------------------

propertylandusedesc
Single Family Residential    52442
Name: propertylandusedesc, dtype: int64

--------------------------

id.1
0        1
51668    1
51650    1
51651    1
51653    1
        ..
26075    1
26076    1
26077    1
26079    1
77613    1
Name: id.1, Length: 52442, dtype: int64

--------------------------

logerror
 0.00    5
 0.00    5
 0.00    5
 0.00    5
 0.00    4
        ..
 0.02    1
-0.03    1
 0.03    1
-0.04    1
 0.04    1
Name: logerror, Length: 52180, dtype: int64

--------------------------

transactiondate
2017-06-30    810
2017-04-28    617
2017-05-31    566
2017-07-28    546
2017-08-31    528
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2018-05-25      1
Name: transactiondate, Length: 258, dtype: int64

--------------------------

### Nulls by Column

In [11]:
df.isnull().sum()

parcelid                        0
propertylandusetypeid           0
id                              0
airconditioningtypeid       38804
architecturalstyletypeid    52372
                            ...
censustractandblock           123
propertylandusedesc             0
id.1                            0
logerror                        0
transactiondate                 0
Length: 63, dtype: int64

In [15]:
(df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)

buildingclasstypeid                  100.00
finishedsquarefeet15                 100.00
finishedsquarefeet13                 100.00
basementsqft                          99.91
storytypeid                           99.91
                               ...
fips                                   0.00
bedroomcnt                             0.00
bathroomcnt                            0.00
id                                     0.00
transactiondate                        0.00
Length: 63, dtype: float64

In [17]:
null_col_df = pd.DataFrame({'num_rows_missing': df.isnull().sum(),
            'percent_rows_missing': df.isnull().sum()/df.shape[0]*100})

In [18]:
null_col_df.loc['logerror']

num_rows_missing                       0.00
percent_rows_missing                   0.00
Name: logerror, dtype: float64

In [19]:
null_col_df.iloc[5]

num_rows_missing                  52,395.00
percent_rows_missing                  99.91
Name: basementsqft, dtype: float64

In [20]:
null_col_df.loc[['logerror']]

          num_rows_missing  percent_rows_missing
logerror                 0                  0.00